@font-face {
    font-family: 'Arvo';
    src: url('../fonts/Arvo-Italic.ttf');
}

body {
    margin: 0;
    font-family: "Arvo";
    background-color: #f8f8f8;
}

header {
    background-color: #985994;
    display: flex;
    justify-content: center;
}

header h1 {
    color: #fff;
    font-family: "Arvo";
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-image: url('../img/Corps\ humain.png');
    width: 137px;
    height: 493px;
    position: relative;
}

.choices {
    background-color: rgba(0, 0, 0, 0.60);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transition: all 1s ease;
}

.choices:hover {
    transform: translateY(-5px);
}

#container-info {
    width: 50%;
    height: 493px;
    position: relative;
    padding: 20px;
}

.active {
    background-color: rgba(153, 2, 2, 0.6);
}

@media (max-width: 800px) {

    #main-container {
        flex-direction: column;
    }

    #container-info {
        width: 70%;
    }
}